name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install buf
        run: |
          tag=$(curl 'https://api.github.com/repos/bufbuild/buf/releases/latest' | jq -r '.tag_name')
          url="https://github.com/bufbuild/buf/releases/download/${tag}/buf-$(uname -s)-$(uname -m)"
          curl -sSL $url -o "buf" && chmod +x ./buf

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
          run_install: false

      - name: Use Node.js v24.12.0
        uses: actions/setup-node@v4
        with:
          node-version: 24.12.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests (Jest)
        run: pnpx jest

      - name: Generate protobuf
        run: cd proto && ../buf generate
      
      - name: Copy shared lib files
        run: rm client/lib/bytes-util.ts; rm client/lib/ip-convert.ts; rm client/lib/ua-parse.ts; cp src/lib/bytes-util.ts client/lib; cp src/lib/ip-convert.ts client/lib; cp src/lib/ua-parse.ts client/lib

      - name: Test client build (Webpack)
        run: cd client && ../node_modules/.bin/webpack --mode=production